<a href="https://colab.research.google.com/github/i-m-sankha16/Ineuron-Assignments-Python/blob/master/iNeuron_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1**

Install Jupyter notebook and run the first program and share the screenshot of the output.

![alt text](https://drive.google.com/open?id=1HHvv-EsER5Ywf2nA6hJoauSOct0ukcQl)

Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [9]:
print("The Numbers which are divisible by 7 but are not a multiple of 5 and ranges between 2000 to 3200 are: ")
for i in range(2000,3201):
  if(i%7 == 0 and i%5 != 0):
    print(i, end=',')

The Numbers which are divisible by 7 but are not a multiple of 5 and ranges between 2000 to 3200 are:
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [10]:
def reverse(string):
  string = string[::-1]
  return string
f_name=input('enter the first name:')
l_name=input('enter the last name:')
s=f_name + " " + l_name
print("the original string is:", end="")
print(f_name," ",l_name)
print("the reversed string is:", end="")
print(reverse(s))

enter the first name:Sankha
enter the last name:Banerjee
the original string is:Sankha   Banerjee
the reversed string is:eejrenaB ahknaS

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r^3

In [11]:
diameter = 12
r=diameter/2
pi=3.14
V= 4/3 * pi * r * r * r
print("The volume of a sphere with a diameter 12 cm is:",V)

The volume of a sphere with a diameter 12 cm is: 904.3199999999998

**Task 2:**

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [12]:
a=input("Enter the comma separted numbers at your own choice:")
list = a.split(",")
print("List: ",list)

Enter the comma separted numbers at your own choice:2,3,5,8,9,10
List:  ['2', '3', '5', '8', '9', '10']

Create the below pattern using nested for loop in Python.

In [13]:
rows = int(input("Enter max star to be display on single line "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

Enter max star to be display on single line 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Write a Python program to reverse a word after accepting the input from the user.

In [14]:
def reverse(string):
  string=string[::-1]
  return string
s=input("enter the word to get the reverse word :")
print(reverse(s))

enter the word to get the reverse word :Sankha Banerjee
eejrenaB ahknaS

Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [15]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens